button
{
    width: 80px;
    height: 35px;
    border: 0px;
    outline: none;
    color: black;
    background-color: white;
    font-size: 18px;
}


button:hover
{
    cursor: pointer;
    background: red;
}